<div class="row mt-3">
        <h2 class="col-12">Cliente</h2>
    </div>
    <div class="row mt-3">
        <button class="btn btn-danger col-2" [routerLink]="['/clientes']">Volver a "Clientes"</button>
    </div>
    <div class="row mt-3">
        <div class="form-group col-12">
            <label for="clientePerfil.id" class="col-form-label">ID</label>
            <div>
                <input type="text" readonly class="form-control-plaintex col-12" id="clientePerfil.id" [ngModel]="clientePerfil.id">
            </div>
        </div>
        <div class="form-group col-4">
            <label for="clientePerfil.nombre">Nombre</label>
            <input readonly type="text" class="form-control" id="clientePerfil.nombre" placeholder="Sin Nombre" [(ngModel)]="clientePerfil.nombre">
        </div>
        <div class="form-group col-4">
            <label for="clientePerfil.direccion">Dirección</label>
            <input readonly type="text" class="form-control" id="clientePerfil.direccion" placeholder="Sin direccion" [(ngModel)]="clientePerfil.direccion">
        </div>
        <div class="form-group col-4">
            <label for="clientePerfil.direccion">CUIT</label>
            <input readonly type="text" class="form-control" id="clientePerfil.cuit" placeholder="Sin CUIT" [(ngModel)]="clientePerfil.cuit">
        </div>
        <div class="form-group col-6">
            <label for="clientePerfil.email">Correo Electrónico</label>
            <input readonly type="email" class="form-control" id="clientePerfil.email" placeholder="Sin Email" [(ngModel)]="clientePerfil.email">
        </div>
        <div class="form-group col-6">
            <label for="clientePerfil.telefono">Teléfono</label>
            <input readonly type="tel" class="form-control" id="clientePerfil.telefono" placeholder="Sin Teléfono" [(ngModel)]="clientePerfil.telefono">
        </div>
    </div>