<div class="row mt-3">
  <h2 class="col-12">Factura</h2>
</div>
<div class="row mt-3">
  <div class="form-group col-12">
    <label for="facturaForm.id" class="col-form-label">ID</label>
    <div>
      <input
        type="text"
        readonly
        class="form-control-plaintex col-12"
        id="facturaForm.id"
        [ngModel]="facturaForm.id"
        placeholder="Sin ID"
      />
    </div>
  </div>
  <div class="form-group col-12">
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Cliente
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a
          class="dropdown-item"
          *ngFor="let cliente of listadoClientes"
          (click)="seleccionCliente(cliente)"
          >{{ cliente.nombre }}</a
        >
      </div>
    </div>
    <div class="form-group col-12">
      <h4>Datos del cliente</h4>
      <div>
        <input
          type="text"
          readonly
          class="form-control-plaintex col-6"
          id="facturaForm.cliente.id"
          [ngModel]="facturaForm.cliente.id"
          placeholder="Sin ID"
        />
      </div>
      <div>
        <input
          type="text"
          readonly
          class="form-control-plaintex col-6"
          id="facturaForm.cliente.nombre"
          [ngModel]="facturaForm.cliente.nombre"
          placeholder="Sin nombre"
        />
      </div>
      <div>
        <input
          type="text"
          readonly
          class="form-control-plaintex col-6"
          id="facturaForm.cliente.direccion"
          [ngModel]="facturaForm.cliente.direccion"
          placeholder="Sin Direccion"
        />
      </div>
      <div>
        <input
          type="text"
          readonly
          class="form-control-plaintex col-6"
          id="facturaForm.cliente.telefono"
          [ngModel]="facturaForm.cliente.telefono"
          placeholder="Sin Teléfono"
        />
      </div>
    </div>
  </div>
  <!--Datos principales de facturación-->
  <!--Tipo de Factura-->
  <div class="form-group col-12">
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Tipo de Factura
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a
              class="dropdown-item"
              (click)="facturaForm.tipo_factura = 'A'"
              >Factura A</a
            >
            <a
              class="dropdown-item"
              (click)="facturaForm.tipo_factura = 'B'"
              >Factura B</a
            >
            <a
              class="dropdown-item"
              (click)="facturaForm.tipo_factura = 'C'"
              >Factura C</a
            >
          </div>
        </div>
        <label class="col-form-label col-12">Tipo de Factura: {{ facturaForm.tipo_factura }}</label>
  <div class="form-group col-12">
    <!--DropDown de productos-->
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Productos
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a
          class="dropdown-item"
          *ngFor="let producto of listadoProductos"
          (click)="seleccionProducto(producto)"
          >{{ producto.codigo }} -{{ producto.nombre }}</a
        >
      </div>
    </div>
    <!--Datos del producto-->
    <div>
      <input
        type="text"
        readonly
        class="form-control-plaintex col-4"
        id="item.codigo_item"
        [ngModel]="item.codigo_item"
        placeholder="Sin Código"
      />
    </div>
    <div>
      <input
        type="text"
        readonly
        class="form-control-plaintex col-4"
        id="item.precio_unitario"
        [ngModel]="item.precio_unitario"
        placeholder="Sin Precio"
      />
    </div>
    <div>
      <input
        type="text"
        class="form-control-plaintex col-4"
        id="item.cantidad"
        [(ngModel)]="item.cantidad"
        placeholder="No existe cantidad seleccionada"
      />
    </div>
    <div>
      <input
        type="text"
        class="form-control-plaintex col-4"
        id="item.descripcion"
        [(ngModel)]="item.descripcion"
        placeholder="Sin Descripcion"
      />
    </div>
    <div>
      <input
        type="text"
        class="form-control-plaintex col-4"
        id="item.iva"
        [(ngModel)]="item.iva"
        placeholder="Sin IVA"
      />%
    </div>
  </div>
  <div class="form-group col-8">
    <button class="btn btn-success" (click)="guardarTransaccion()">
      Guardar
    </button>
    <button class="btn btn-danger" (click)="limpiarItem()">
      Limpiar Campos
    </button>
  </div>
  <!--Tabla indicando los productos cargados-->
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Descripción</th>
          <th scope="col">Precio Unitario</th>
          <th scope="col">Cantidad</th>
          <th scope="col">IVA</th>
          <th scope="col">Subtotal</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of facturaForm.items; let indice=index">
          <td>{{ item.codigo_item }}</td>
          <td>{{ item.descripcion }}</td>
          <td>{{ item.precio_unitario }}</td>
          <td>{{ item.cantidad }}</td>
          <td>{{ item.iva * 100 }}</td>
          <td>
            {{
              item.cantidad * item.precio_unitario * (1 + item.iva) | number
            }}
          </td>
          <td>
            <button class="btn btn-danger" (click)="eliminarItem(index)">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--Botones de guardado de factura en DB-->
  <div class="form-group col-8 mt-5">
    <button class="btn btn-success" (click)="sendFactura()">
      Guardar Factura
    </button>
    <button [routerLink]="['/facturas']" class="btn btn-danger">
      Volver a "Facturas"
    </button>
  </div>
</div>
